<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/ChatsIndex.css">
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div id="searchBar" class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul id="friends" class="list-unstyled chat-list mt-2 mb-0"></ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">Aiden Chavez</h6>
                                    <small>Last seen: 2 hours ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0">
                            <li class="clearfix">
                                <div class="message-data text-right">
                                    <span class="message-data-time">10:10 AM, Today</span>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                </div>
                                <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                    <span class="message-data-time">10:12 AM, Today</span>
                                </div>
                                <div class="message my-message">Are we meeting today?</div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input id="messageContent" type="text" class="form-control" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="friendTemplate" type="text/x-handlebars-template">
    <li class="clearfix active">
        <img src="{{profileImagePath}}" alt="avatar">
        <div class="about">
            <div class="name">{{firstName}} {{lastName}}</div>
            <div class="status"> <i class="fa fa-circle online"></i> online </div>
        </div>
        <input value="{{id}}" hidden />
    </li>
</script>

<script id="allFriendsTemplate" type="text/x-handlebars-template">
    {{#each users}}
    {{> user}}
    {{/each}}
</script>

<script id="myMessageTemplate" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data text-right">
            <span class="message-data-time">{{dateDiff}}</span>
            <img src="{{owner.profileImagePath}}" alt="avatar">
        </div>
        <div class="message other-message float-right">{{content}}</div>
    </li>
</script>

<script id="othersMessageTemplate" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data">
            <img src="{{owner.profileImagePath}}" alt="avatar">
            <span class="message-data-time">{{dateDiff}}</span>
        </div>
        <div class="message my-message">{{content}}</div>
    </li>
</script>

<script id="topChatTemplate" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-lg-6">
            <input id="chatId" value="{{id}}" hidden />
            <input id="friendId" value="{{friend.id}}" hidden />
            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                <img src="{{friend.profileImagePath}}" alt="avatar">
            </a>
            <div class="chat-about">
                <h6 class="m-b-0">{{friend.firstName}} {{friend.lastName}}</h6>
                <small><i class="fa fa-circle online"></i> online </small>
            </div>
        </div>
    </div>
</script>

<script src="~/js/ChatPage.js"></script>
